@charset "UTF-8";

#read_wrap {
	width: 800px;
	padding: 50px 30px 30px 30px;
	margin: 0 auto;
	border: 1px solid lightgray;
}

#readContent_wrap {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid lightgray;
	border-radius: 3px;
}

#read_wrap a {
	color: black;
}

#readTopBtn {
	text-align: right;
}

#readTopBtn button {
	height: 30px;
	line-height: 1;
}

#readTitle a {
	font-size: 12px;
	color: #03c75a;
	font-weight: bold;
}

#readTitle div {
	margin-top: 7px;
	margin-bottom: 12px;
	font-size: 26px;
}

#WriterInfo {
	display: flex;
	justify-content: space-between;
}

#profileInfo span {
	font-size: 13px;
	font-weight: bold;
}

#readInfo span {
	font-size: 12px;
	color: lightgray;
}

#readTool {
	font-size: 13px;
	padding-top: 10px;
}

#readheader {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid lightgray;
}

#readContentBox {
	overflow-wrap: break-word;
}

#readContent b {
	font-weight: bold;
}

#readContent i {
	font-style: italic;
}

#replyBox {
	margin-top: 40px;
	padding-bottom: 27px;
	margin-bottom: 11px;
	border-bottom: 1px solid lightgray;
}
#replyBox_left>a:nth-child(1){
	cursor: pointer;
}

#replyBox_left .fa-heart {
	color: red;
}

/* ===============댓글=============== */
#commentOption {
	margin-bottom: 13px;
}

#commentOption h3 {
	display: inline-block;
	font-weight: bold;
	font-size: 17px
}

#commentOption span {
	font-size: 13px;
}

#commentList li {
	position: relative;
}

#commentList li>div:nth-child(1) {
	display: flex;
}

.commentImg {
	margin-right: 10px;
}

.commentImg img {
	width: 36px;
	height: 36px;
}

#commentList>ul>li {
	border-bottom: 1px solid lightgray;
	padding: 12px 23px 10px 0;
}

.commentItem div {
	margin-bottom: 4px;
	font-size: 13px;
	font-weight: bold;
}

.commentItem p {
	font-size: 13px;
}

.commentItem span {
	margin-top: 7px;
	font-size: 12px;
}

#commentWriter {
	border: 1px solid lightgrey;
	border-radius: 6px;
	margin: 12px 0 29px;
	padding: 16px 10px 10px 18px;
}

#comment_inbox {
	margin-bottom: 10px;
	position: relative;
}

#comment_inbox_name {
	margin-bottom: 10px;
	font-size: 13px;
	color: black;
}

#comment_inbox_text {
	width: 100%;
	padding: 1px;
	font-size: 13px;
	resize: none;
	overflow: hidden;
	overflow-wrap: break-word;
	border: 0;
	box-sizing: border-box;
	outline: 0;
}

#comment_inbox_number {
	font-size: 12px;
	position: absolute;
	top: 2px;
	right: 8px;
}

#inbox_count, #inbox_total {
	font-weight: 400;
}

#inbox_count::after {
	content: "/";
}

#comment_attach {
	display: flex;
	justify-content: space-between;
}

#attach_box {
	width: 18px;
	height: 17px;
}

#register_box {
	min-width: 46px;
	height: 34px;
	line-height: 36px;
	font-size: 13px;
	border-radius: 6px;
	box-sizing: border-box;
	font-weight: 700;
	text-align: center;
	background-color: rgba(3, 199, 90, 0.12);
	color: #009f47;
	cursor: pointer;
}

#readButtomBtn {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

#readButtomBtn button {
	height: 30px;
	line-height: 1;
}

.commentTool {
	position: absolute;
	right: 0;
	top: 12px;
}

.commentTool>a {
	cursor: pointer; font-size : 13px;
	color: grey;
	font-size: 13px;
}

.commentModify {
	position:absolute;
	right: 0;
	margin-top: 7px;
	padding: 10px 0;
	width: 100px;
	border: 1px solid rgba(0, 0, 0, .06);
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .06);
	box-sizing: border-box;
	color: black;
	z-index: 1;
}
.commentModify:focus{
	outline: none;
}

.commentModify li {
	width: 100%;
	height: 36px;
	padding: 0 15px;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 37px;
	cursor: pointer;
}

.commentModify li:hover {
	background-color: #f5f6f8;
}

#commentPage ul{
	display: flex;
	justify-content: center;
}

.commentpage-item{
	text-decoration: none;
	margin: 5px 3px;
}
.active{
	font-weight: bold;
}
