@charset "utf-8";
body {

}
/* 스크롤바  */
 ::-webkit-scrollbar {
    width: 6px;
    height: 0;
}

 ::-webkit-scrollbar-track {
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 0.8);
}

 ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.8);
}

 ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}


#wrap {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#headerWrap {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 600px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    border-radius: 0 0 30px 30px;
    transition: all 0.5s;
}
#headerWrap:hover {
    transform: translate(-50%, 0);
}

#logo {
    width: 50px;
    height: 40px;
    line-height: 40px;
}

#logo>a {
    color: white;
    font-size: 25px;
}
#logo>a:before {
	line-height: 40px
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#headerWrap ul {
    display: flex;
    justify-content: space-between;
}
#headerWrap a{
	color: white;
}

#menu {
    position: relative;
    left: 35px;
}

#menu>ul>li {
    width: 60px;
    height: 20px;
    border-radius: 13px;
    text-align: center;
    line-height: 20px;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
}

#nonmemUtill ul,
#memUtill ul {
    margin-top: 5px;
    width: 130px;
}

#nonmemUtill li,
#memUtill li {
    font-size: 12px;
    padding: 0 3px;
    cursor: pointer;
    border-right: 1px solid black;
}

#nonmemUtill li:nth-last-child(1),
#memUtill li:nth-last-child(1) {
    border: none;
}